* {
    margin: 0;
    padding: 0;
}
  

body {
    padding: 0;
    margin: 0;
}



html {
    font-size: 16px;
    scroll-behavior: smooth;
    font-family: monospace;
}

h3 {
text-decoration: underline;
}

header {
    width: auto;
    margin: 0px;
    padding: 0px;
    
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 7.5%;
    width: 10%;
    list-style: none;
}

nav img{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.nav-but {
    width: 75%;
    height: 75%;
    padding: 0;
    margin: 0;
}

.site-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 100vh;
    
}

.home-bg {
    width: 100vw;
    height: 100vh;
    background-image: url("./backgrounds-navbar/final-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    bottom: 5%;
    left: 50%;
    list-style: none;
}

.icon-wrap img {
    width: 20px;
    height: 20px;
}

.about-bg {
    width: 100%;
    height: 100vh;
    background-image: url("./backgrounds-navbar/about-backing.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

}

.about-bg p {
    
    font-family: monospace;
    font-size: 1.1rem;
    color: white;
    text-align: left;
    position: relative;
    top: 30%;
    width: auto;
    height: 55%;
    flex-wrap: wrap;
    background-color: rgba(255,255,255,0.3);
    overflow: hidden;
    padding: 1%;
    text-shadow: 0 0 5px #C8C8C8;
    color: #fff;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /* white-space: nowrap; Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .12em; /* Adjust as needed */
    animation: typing-about 5s steps(30, end), blink-caret .5s step-end infinite;
}


@keyframes typing-about {
    from { height: 0 }
    to { height: 55% }
  }

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent }
}


.skills-bg {
    width: 100vw;
    height: 100vh;
    background-image: url("./backgrounds-navbar/skills-backing.png");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    

    
}

.skills-grid {
    display: grid;
    align-items: center;justify-content: space-around;
    grid-template-columns: repeat(4, 170px);
    grid-template-rows: repeat(2, 170px);
    grid-template-areas:
    "skills-grid-1 skills-grid-2 skills-grid-3 skills-grid-4"
    "skills-grid-5 skills-grid-6 skills-grid-7 skills-grid-8";
    color: white;
    position: relative;
    top: 25%;
    width: 60%;
    height: 50%;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 1%;
    text-shadow: 0 0 5px #C8C8C8;
    color: #fff;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing-skills 5s steps(30, end), blink-caret .5s step-end infinite;
}

@keyframes typing-skills {
    from { height: 0 }
    to { height: 50% }
  }

.skills-grid-1, .skills-grid-2, .skills-grid-3, .skills-grid-4, .skills-grid-5,.skills-grid-6, .skills-grid-7, .skills-grid-8 {
    padding: 15%;
    margin: 10%;
    margin-bottom: 0;
    text-align: center;
    background-color: rgba(255,255,255,0.35);
    font-family: monospace;
    font-size: 0.8rem;
  
}

.work-bg {
    width: 100vw;
    height: 100vh;
    background-image: url("./backgrounds-navbar/work-backing.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.work-container {
    position: relative;
    align-content: center;
    background-color: rgba(255,255,255,0.35);
    top: 25%;
    width: auto;
    height: 55%;
    text-align: left;
    font-size: 1.1rem;
    overflow: hidden;
    padding: 1%;
    text-shadow: 0 0 5px #C8C8C8;
    color: #fff;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .12em; /* Adjust as needed */
    animation: typing-work 5s steps(30, end), blink-caret .5s step-end infinite;
    border-radius: 5px;

}

@keyframes typing-work {
    from {height: 0}
    to {height: 55%}
}

.work-container p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content:  center;
    font-size: 1.1rem;
    text-shadow: 0 0 5px #C8C8C8;
    letter-spacing: .12em;
}

.find-bg {
    width: 100vw;
    height: 100vh;
    background-image: url("./backgrounds-navbar/find-backing.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

}

.contact-form {
    width: auto;
    height: 25%;
    position: relative;
    top: 40%;
    font-family: monospace;
    background-color: rgba(255,255,255,0.35);
    font-size: 1.1rem;
    overflow: hidden;
    align-content: center;
    padding: 1%;
    text-shadow: 0 0 5px #C8C8C8;
    color: #fff;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-bottom: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing-find 5s steps(30, end), blink-caret-find .5s step-end infinite;

}

@keyframes typing-find {
    from { height: 0 }
        to { height: 25% }
    }

@keyframes blink-caret-find {
  from, to { border-color: transparent }
  50% { border-color: transparent}
}

.nav-but:hover {
    animation: glitch 0.5s linear infinite;
}

@keyframes glitch {
    0%{
        transform: none;
        opacity: 1;
    }
    7%{
        transform: skew(-6deg, -0.9deg);
        opacity: 0.75;
    }
    10% {
        transform: none;
        opacity: 1;
    }
    27% {
    transform: none;
    opacity: 1;
    filter: blur(1px)
    }
    30% {
    transform: skew(-3deg, -0.1deg);
    opacity: 0.75;
    }
    35% {
    transform: none;
    opacity: 1;
    }
    52% {
    transform: none;
    opacity: 1;
    filter: blur(2px)
    }
    55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
    }
    50% {
    transform: none;
    opacity: 1;
    }
    72% {
    transform: none;
    opacity: 1;
    }
    75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
    }
    80% {
    transform: none;
    opacity: 1;
    }
    100% {
    transform: none;
    opacity: 1;
    }
}

